body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

section {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(12, 11, 11, 0.267);
    border-radius: 1%;
    margin: 20px;
    padding: 10px;
    position: relative;
}

.static {
    background-color: blue;
    color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    position: static;
}

.relative {
    background-color: rgb(255, 72, 0);
    color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    position: relative;
    top: 20px;
    left: 30px;
}

.absolute {
    background-color: rgb(51, 160, 24);
    color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.fixed {
    background-color: rgb(137, 8, 163);
    color: #fff;
    width: 70px;
    height: 70px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    position: fixed;
    border-radius: 50%;
    bottom: 30px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
}

.sticky {
    background-color: rgb(236, 122, 29);
    font-weight: bold;
    position: sticky;
    padding: 10px;
    top: 10px;
}


.z-index1 {
    background-color: rgb(0, 119, 255);
    color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    position: relative;
    left: 50px;
    z-index: 1;

}

.z-index2 {
    background-color: rgba(255, 8, 0, 0.884);
    color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    position: relative;
    bottom: 50px;
    left: 100px;
    z-index: 2;

}

.z-index3 {
    background-color: rgba(9, 255, 0, 0.877);
    color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    position: relative;
    bottom: 100px;
    left: 150px;
    z-index: 3;
}

.float.left {
    background-color: blue;
    color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    float: left;
    margin-right: 15px;

}

.float.right {
    background-color: rgb(255, 51, 0);
    color: #fff;
    width: 100px;
    height: 100px;
    font-weight: bold;
    float: right;
    margin-left: 15px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.menu.button {
    background-color: rgb(40, 140, 223);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.menu.options {
    display: none;
    position: absolute;
    min-width: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(12, 11, 11, 0.267);
    z-index: 1;
}

.menu:hover .menu.options {
    display: block;
}

.modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #13111128;
    z-index: 100;
    align-items: center;
    justify-content: center;

}

.modal-content {
    background-color: #fff;
    max-width: 500px;
    width: 80%;
    padding: 30px;
    border-radius: 5px;
    position: relative;

}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.progressbar.outside {
    background-color: rgba(176, 179, 179, 0.596);
    width: 100%;
    height: 30px;
    position: relative;
    margin: 30px 0;
}
.progressbar.inside {
    background-color: rgb(219, 26, 26);
    width: 70%;
    height: 30px;
    position: absolute;
}
