.text {
    font-size: 20px;
}

.red {
    color:red;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}

.hide {
    display: none;
}